body {
    background-color: green;
    font-family: Consolas, Lucida Console, Monaco, Courier New, monospace;
}
#pagetitle {
    text-align: center;
    text-shadow: .1em .1em .1em blueviolet;
    background-color: forestgreen;
    width: 9em;
    margin: .2em auto;
    pointer-events: none;
}
#gamecanvas {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 100%;
}
a {
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
#canvasfallbackmessage img {
    max-width: 50%;
}
#canvasfallbackmessage p img {
    height: 1em;
    background-color: #DDD;
    padding: .15em 0.4em;
    vertical-align: bottom;
    margin: 0;
}
